/.vscode
/A1.cpp
/bootstrap-landing-page-master.zip
/bootstrap-purple-cards-main
/bootstrap-purple-cards-main.zip
/cityNEEDS-master.zip
/cpp
/Employment-Agency-Project-master.zip
/jadoo
/Login-SignUp-java-gui-main
/login-system-main
/login-system-main (1).zip
/login-system-main.zip
/Miranda-main
/project.zip
/sixarthtml-10
/sixarthtml-10.rar
/sjh-1.cpp
/sjh-1.exe
/sjh-1.o
/travel-main